@charset "utf-8";
#simplefooter {
    width: 980px;
    margin: 20px auto 0;
    text-align: center;
    a {
        margin: 0 8px;
        color: #333;
    }
    p {
        margin-top: 10px;
        color: #333;
    }
}